body {
    text-align: justify;
    margin: auto;
    color: #222;
}
article h1 a {
    color:black;
    text-decoration:none;
}
article h2 {
    margin-bottom: 0.1em;
    margin-top: 0.5em;
}
article time {
    opacity: 0.6;
    font-size: small;
}
img {
    max-width: 100%;
}
code {
    background-color: #eee;
    white-space: pre-wrap;
    font-size: smaller;
}
pre {
    background-color: #111;
    color: white;
    padding: 10px;
    font-size: smaller;
}
nav a, footer a {
    color: black;
    text-decoration: none;
}
footer a:visited, nav a:visited {
    color: grey;
    text-decoration: none;
}
nav {
    width: 100%;
    border-bottom: 1px solid black;
}
nav ul {
    padding: 0;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
}
nav ul li a {
    font-size: 120%;
    font-weight: bold;
    padding-left: 10px;
}
nav ul li:before {
    content: '\2022'
}
nav ul li:first-child {
    margin-left: 0;
}
nav ul li:first-child a {
    padding-left: 0;
}
nav ul li:first-child:before {
    content: none;
}
footer {
    color: #111;
    width: 100%;
    border-top: 1px solid black;
}
footer ul {
    padding: 0;
}
footer ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 6px;
    font-size: 80%;
    font-weight: lighter;
}
footer ul li a {
    padding-left: 6px;
}
footer ul li a img {
    height: 1em;
}
footer ul li:before {
    content: '\2022'
}
footer ul li:first-child {
    margin-left: 0;
}
footer ul li:first-child a {
    padding-left: 0;
}
footer ul li:first-child:before {
    content: none;
}
@media only screen and (max-width: 768px) {
    body {
        width: 90%;
        font-size: larger;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    body { width: 80%; }
}
@media only screen and (min-width: 1024px) {
    body { width: 70%; }
}
